In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
data = pd.DataFrame(pd.read_csv("Coronavirus.csv"))

In [30]:
data

,Dias,Casos Totales,Muertes,Incremento,Casos CDMX,Vel. CDMX,Casos EDO,Vel. EDO,Casos estimados,Porcentual,...,hg_nac,vacunados,Activos-conf,Recuperados,Dosis-disp,completos,IRAG,Fecha,Una dosis,comentarios
0,1,1,0,1,1,1,0,0,NaN,100.000000,...,0.0,NaN,NaN,0,NaN,NaN,NaN,28/02/20,NaN,NaN
1,2,4,0,3,2,1,1,1,NaN,75.000000,...,0.0,NaN,NaN,0,NaN,NaN,NaN,29/02/20,NaN,NaN
2,3,5,0,1,2,0,1,0,NaN,20.000000,...,0.0,NaN,NaN,0,NaN,NaN,NaN,01/03/20,NaN,NaN
3,4,5,0,0,2,0,1,0,NaN,0.000000,...,0.0,NaN,NaN,0,NaN,NaN,NaN,02/03/20,NaN,NaN
4,5,5,0,0,2,0,1,0,NaN,0.000000,...,0.0,NaN,NaN,0,NaN,NaN,NaN,03/03/20,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,548,3341264,258491,5564,891571,887,335654,218,3547398.0,0.166524,...,NaN,84549082.0,102559.0,2938617,98054855.0,33620717.0,12813.0,30/08/21,57547462.0,NaN
550,549,3352410,259326,11146,894296,2725,336402,748,3560490.0,0.332477,...,NaN,84946443.0,98039.0,2958089,98842265.0,33922392.0,12981.0,31/08/21,57798967.0,NaN
551,550,3369747,260503,17337,897323,3027,337715,1313,3578686.0,0.514490,...,NaN,85375481.0,99348.0,2964570,103296665.0,34282292.0,12658.0,01/09/21,58008815.0,NaN
552,551,3387885,261496,18138,900296,2973,339258,1543,3597450.0,0.535378,...,NaN,85845792.0,102235.0,2970120,103296665.0,34656277.0,12524.0,02/09/21,58238589.0,NaN
553,552,3405294,262221,17409,903089,2793,340608,1350,3615028.0,0.511233,...,NaN,86307586.0,100258.0,2987657,103296665.0,35032194.0,12280.0,03/09/21,58472846.0,NaN

In [16]:
sub = data[~data["vacunados"].isnull()]

In [31]:
subsub = sub[["vacunados","Dosis-disp","completos","Fecha","Una dosis"]]

In [32]:
subsub

      vacunados   Dosis-disp   completos     Fecha   Una dosis
300      2924.0       2925.0         0.0  24/12/20      2924.0
301      2924.0       2925.0         0.0  25/12/20      2924.0
302      2924.0      45825.0         0.0  26/12/20      2924.0
303      6824.0      45825.0         0.0  27/12/20      6824.0
304     10724.0      45825.0         0.0  28/12/20     10724.0
..          ...          ...         ...       ...         ...
549  84549082.0   98054855.0  33620717.0  30/08/21  57547462.0
550  84946443.0   98842265.0  33922392.0  31/08/21  57798967.0
551  85375481.0  103296665.0  34282292.0  01/09/21  58008815.0
552  85845792.0  103296665.0  34656277.0  02/09/21  58238589.0
553  86307586.0  103296665.0  35032194.0  03/09/21  58472846.0

[254 rows x 5 columns]

In [34]:
np.concatenate(([2924],np.diff(subsub["vacunados"])))

array([2.924000e+03, 0.000000e+00, 0.000000e+00, 3.900000e+03,
       3.900000e+03, 9.085000e+03, 6.653000e+03, 5.463000e+03,
       0.000000e+00, 4.645000e+03, 3.964000e+03, 4.002000e+03,
       4.057000e+03, 4.752000e+03, 5.057000e+03, 9.066000e+03,
       7.326000e+03, 6.506000e+03, 5.760000e+03, 5.819000e+03,
       9.968800e+04, 1.374160e+05, 8.543400e+04, 4.782900e+04,
       5.462000e+03, 2.382100e+04, 5.593000e+03, 2.908000e+03,
       5.130500e+04, 4.239000e+04, 2.404300e+04, 1.085800e+04,
       1.247900e+04, 1.021400e+04, 3.725000e+03, 1.798000e+03,
       4.375000e+03, 8.090000e+03, 3.020000e+03, 1.875000e+03,
       2.337000e+03, 9.062000e+03, 8.487000e+03, 5.228000e+03,
       9.882000e+03, 3.319000e+03, 4.303000e+03, 6.527000e+03,
       3.600000e+02, 7.400000e+02, 5.550000e+02, 3.110000e+02,
       0.000000e+00, 2.336900e+04, 1.657010e+05, 1.427560e+05,
       2.599160e+05, 2.561030e+05, 8.214600e+04, 3.285400e+04,
       4.424600e+04, 6.775200e+04, 9.962800e+04, 1.880290e+05,
       1.822190e+05, 1.123790e+05, 7.168400e+04, 7.176800e+04,
       5.657200e+04, 5.014500e+04, 4.245500e+04, 5.586500e+04,
       3.390500e+04, 2.730100e+04, 5.652400e+04, 2.512380e+05,
       3.872500e+05, 2.918510e+05, 2.251620e+05, 2.093630e+05,
       1.254320e+05, 6.468200e+04, 1.261760e+05, 2.068380e+05,
       2.099300e+05, 2.391990e+05, 2.722630e+05, 1.536770e+05,
       1.686680e+05, 1.456080e+05, 1.923310e+05, 1.245880e+05,
       2.432840e+05, 2.376190e+05, 1.278070e+05, 1.658530e+05,
       3.864630e+05, 4.461410e+05, 4.831970e+05, 3.101960e+05,
       2.427440e+05, 1.164100e+05, 2.838050e+05, 3.881120e+05,
       4.139030e+05, 5.534530e+05, 3.419960e+05, 2.193140e+05,
       1.909540e+05, 3.080270e+05, 5.496050e+05, 1.548560e+05,
       5.053380e+05, 5.087450e+05, 5.564730e+05, 2.626490e+05,
       1.272440e+05, 2.034350e+05, 4.321010e+05, 4.739070e+05,
       3.972920e+05, 3.396750e+05, 1.955500e+05, 9.170500e+04,
       1.854500e+05, 2.982020e+05, 3.726020e+05, 3.608130e+05,
       3.611990e+05, 2.467210e+05, 1.449430e+05, 3.559540e+05,
       5.126110e+05, 6.108870e+05, 5.897090e+05, 4.677880e+05,
       2.197410e+05, 7.205500e+04, 5.855700e+04, 2.303010e+05,
       3.971840e+05, 4.268290e+05, 4.561970e+05, 2.989800e+05,
       1.334220e+05, 3.461530e+05, 5.752600e+05, 7.647690e+05,
       6.383470e+05, 5.225350e+05, 3.299180e+05, 1.768940e+05,
       2.980280e+05, 7.560650e+05, 7.966740e+05, 7.334700e+05,
       6.213340e+05, 4.323510e+05, 1.840210e+05, 5.132050e+05,
       8.210230e+05, 1.062926e+06, 9.051250e+05, 5.682310e+05,
       1.172480e+05, 1.348280e+05, 5.825600e+04, 5.077030e+05,
       9.977630e+05, 2.669420e+05, 5.526880e+05, 3.113180e+05,
       2.281030e+05, 2.804000e+05, 4.451000e+05, 3.849000e+05,
       5.198740e+05, 4.697520e+05, 4.082390e+05, 1.966470e+05,
       4.729800e+05, 6.671120e+05, 7.877730e+05, 6.356280e+05,
       5.776290e+05, 3.847180e+05, 1.591760e+05, 4.725940e+05,
       7.093660e+05, 8.032600e+05, 5.535060e+05, 4.937950e+05,
       2.519830e+05, 1.187340e+05, 4.235550e+05, 7.595410e+05,
       7.029280e+05, 6.547680e+05, 5.051980e+05, 3.363000e+05,
       1.194610e+05, 5.135990e+05, 6.548350e+05, 7.185470e+05,
       6.377130e+05, 5.723500e+05, 3.673760e+05, 2.601520e+05,
       5.651730e+05, 8.041370e+05, 9.610690e+05, 1.376213e+06,
       1.330863e+06, 9.782830e+05, 2.974010e+05, 1.002941e+06,
       1.454578e+06, 1.176387e+06, 1.142084e+06, 1.080806e+06,
       6.428560e+05, 2.390430e+05, 4.952740e+05, 7.362890e+05,
       9.942830e+05, 9.881550e+05, 8.465920e+05, 4.776830e+05,
       3.555690e+05, 4.981200e+05, 7.854000e+05, 1.031029e+06,
       9.774500e+05, 8.071930e+05, 6.380290e+05, 3.480150e+05,
       5.255230e+05, 6.660840e+05, 6.343250e+05, 5.343640e+05,
       4.704050e+05, 2.794980e+05, 2.029470e+05, 3.881480e+05,
       6.489420e+05, 7.550150e+05, 7.548600e+05, 5.928700e+05,
       3.531040e+05, 1.695310e+05, 3.973610e+05, 4.290380e+05,
       4.703110e+05, 4.617940e+05])